# SPDX-FileCopyrightText: 2026 dirt2022
#
# SPDX-License-Identifier: CC0-1.0

Language: C
BasedOnStyle: LLVM
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 120
UseTab: Always
SortIncludes: false
TabWidth: 8
IndentWidth: 8
